name: Deploy to MochaHost (FTPS)

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Upload via FTPS
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftps
          security: explicit          # FTPS explícito (TLS)
          port: 21                    # tu cPanel indica FTPS en 21
          passive: true
          server-dir: ${{ secrets.SERVER_DIR }}   # ej: /deboraantara.ltconsulting-group.com/
          local-dir: ./                           # raíz del repo
          exclude: |
            **/.git*
            **/.github/**
            **/node_modules/**
            **/.vscode/**
            **/README.md
          log-level: standard
          timeout: 600000